---
site_name: "acr-harmonized-data-model"
theme:
  name: material
  # palette:
  #  scheme: slate
  #  primary: cyan
  features:
    - content.tabs.link
plugins:
  - search
  - mknotebooks:
      execute: false
  - mermaid2:
      version: 11.4.1
nav:
  # - Home: home.md
  - Index: index.md
  - About: about.md
site_url: https://anvilproject.github.io/acr-harmonized-data-model
repo_url: https://github.com/anvilproject/acr-harmonized-data-model

# Uncomment this block to enable use of Google Analytics.
# Replace the property value with your own ID.
# extra:
#   analytics:
#     provider: google
#     property: G-XXXXXXXXXX
